@font-face 
{
  font-family: "Product-Sans";
  src: url("font/ProductSans-Regular.ttf") format("ttf");
}

html 
{
  font-family: "Product-Sans";
  background-color: #D4E3F8;
}

h1
{
  font-size: 40px;
  padding-bottom: 30px;
}

h2
{
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3
{
  font-size: 19px;
  padding-left: 10px;
}

p, li
{
  font-size: 15px;
  color: #666666;
}

li ul 
{
  padding-left: 15px;
}


p.c
{
  font-size: 15px;
  color: #666666;
  padding-top: 50px;
  padding-bottom: 60px;
}

a, a:link, a:visited
{
  color: #666666;
  text-decoration: none;
}

img
{
  width: 128px;
  float: right;
}

hr 
{
  border: 0
  border-top: 1px solid;
}

body 
{
  width: 375px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 75px;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (prefers-color-scheme: dark) 
{
  h1, h2, h3
  {
    color:#ffffff;
  }

  p, li 
  { 
    color:#999999;
  }

  p.c
  {
    color:#999999;
  }

  a:link, a:visited
  {
    color: #999999;
  }

  body 
  {
    background-color: #111111;
  }
