@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2'),
	 url('font/ProductSans-Regular.ttf') format('ttf');;
}

html 
{
    background-color: #FFFFFF;
}

h1
{
    font-size: 40px;
    padding-bottom: 30px;
    display: inline-block;
    background: linear-gradient(135deg, #d4f0ff 0%, #55acee 40%, #ef7374 80%);
    background: -webkit-linear-gradient(-45deg, #d4f0ff 0%, #55acee 40%, #ef7374 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2
{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2.gradation
{
    font-size: 22px;
    display: inline-block;
    background: linear-gradient(135deg, #d4f0ff 0%, #55acee 40%, #ef7374 80%);
    background: -webkit-linear-gradient(-45deg, #d4f0ff 0%, #55acee 40%, #ef7374 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3
{
    font-size: 19px;
    padding-left: 10px;
}

p, li
{
    font-size: 15px;
    color: #666666;
    line-height: 1.5;
}

li ul 
{
    padding-left: 15px;
}

li.list1
{
    padding-bottom: 5px;
}

li.list2
{
    margin-left: -20px;
}

li.list2_end
{
    margin-left: -20px;
    padding-bottom: 10px;
}

strong
{
    color: #444444;
}

p.footer_top
{
    font-size: 15px;
    color: #666666;
    padding-top: 50px;
}

p.footer_top a
{
    font-size: 15px;
    color: #999999;
}

p.footer
{
    font-size: 15px;
    color: #666666;
    margin-top: -15px;
}

p.footer a
{
    font-size: 15px;
    color: #999999;
}

a, a:link, a:visited
{
    color: #666666;
    text-decoration: none;
    line-height: 1.5;
}

img
{
    width: 128px;
    float: right;
}

hr 
{
    border: 0
	    border-top: 1px solid;
}

body 
{
    font-family: 'Google Sans';
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 75px;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (prefers-color-scheme: dark) 
{
  html 
  {
      background-color: #121212;
  }

  h1, h2.gradation
  {
      background: linear-gradient(135deg, #d4e3f8 0%, #55acee 40%, #cf7374 80%);
      background: -webkit-linear-gradient(-45deg, #d4e3f8 0%, #55acee 40%, #cf7374 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  p, li 
  { 
      color:#999999;
  }

  strong
  {
      color:#bbbbbb;
  }

  p.c
  {
      color:#999999;
  }

  a:link, a:visited
  {
      color: #999999;
  }

  body 
  {
      background-color: #121212;
  }
