@font-face
{
    font-family: 'M PLUS 2', sans-serif;
}

:root
{
    --chr-color-light: #666666;
    --chr-color-dark: #999999;
    --footer-link-color-light: #999999;
    --background-color-light: #ffffff;
    --background-color-dark: #121212;
    --kyre-hear-color-light: #d4f0ff;
    --kyre-hear-color-dark: #d4e3f8;
    --twitter-brand-color: #55acee;
    --kyre-ribbon-color-light: #ef7374;
    --kyre-ribbon-color-dark: #cf7374;
}

html 
{
    background-color: var(--background-color-light);
}

h1
{
    font-size: 40px;
    padding-bottom: 30px;
    display: inline-block;
    background: linear-gradient(135deg, var(--kyre-hear-color-light) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-light) 80%);
    background: -webkit-linear-gradient(-45deg, var(--kyre-hear-color-light) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-light) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2
{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2.gradation
{
    font-size: 22px;
    display: inline-block;
    background: linear-gradient(135deg, var(--kyre-hear-color-light) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-light) 80%);
    background: -webkit-linear-gradient(-45deg, var(--kyre-hear-color-light) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-light) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3
{
    font-size: 19px;
    padding-left: 10px;
}

p, li
{
    font-size: 15px;
    color: var(--chr-color-light);
    line-height: 1.5;
}

li ul 
{
    padding-left: 15px;
}

li.list1
{
    padding-bottom: 5px;
}

li.list2
{
    margin-left: -20px;
}

li.list2_end
{
    margin-left: -20px;
    padding-bottom: 10px;
}

ul ul
{
    padding-bottom: 5px;
}

strong
{
    color: #444444;
}

p.footer_top
{
    font-size: 15px;
    color: var(--chr-color-light);
    padding-top: 50px;
}

p.footer_top a
{
    font-size: 15px;
    color: var(--chr-color-light);
}

p.footer
{
    font-size: 15px;
    color: var(--chr-color-light);
    margin-top: -15px;
}

p.footer a
{
    font-size: 15px;
    color: var(--chr-color-light);
}

p.footer_bottom
{
    font-size: 15px;
    color: var(--chr-color-light);
    padding-top: 20px;
}

p.footer_bottom a
{
    font-size: 15px;
    color: var(--chr-color-light);
}

a, a:link, a:visited
{
    color: var(--chr-color-light);
    text-decoration: none;
    line-height: 1.5;
}

img
{
    width: 128px;
    float: right;
    border-radius: 30%;
}

hr 
{
    border: 0;
    border-top: 1px solid;
}

body 
{
    font-family: 'Google Sans';
    width: 375px;
    margin: 0 auto;
    background-color: var(--background-color-light);
    padding: 75px;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (prefers-color-scheme: dark) 
{
  html 
  {
      background-color: var(--background-color-dark);
  }

  h1, h2.gradation
  {
      background: linear-gradient(135deg, var(--kyre-hear-color-dark) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-dark) 80%);
      background: -webkit-linear-gradient(-45deg, var(--kyre-hear-color-dark) 0%, var(--twitter-brand-color) 40%, var(--kyre-ribbon-color-dark) 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  p, li 
  { 
      color: var(--chr-color-dark);
  }

  strong
  {
      color:#bbbbbb;
  }

  p.footer_top
  {
      color: var(--chr-color-dark);
  }

  p.footer_top a
  {
      color: var(--chr-color-dark);
  }
  
  p.footer
  {
      color: var(--chr-color-dark);
  }

  p.footer a
  {
      color: var(--chr-color-dark);
  }

  p.footer_bottom
  {
      color: var(--chr-color-dark);
  }

  p.footer_bottom a
  {
      color: var(--chr-color-dark);
  }

  a, a:link, a:visited
  {
      color: var(--chr-color-dark);
  }

  body 
  {
      background-color: var(--background-color-dark);
  }
